<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Dashboard</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
</head>
<body>
<h1>Real-time Stock Dashboard</h1>
<div id="stock-data"></div>
<div id="chart-area"></div>
<script>

      const el = document.getElementById('chart-area');
      const data = {
        categories: ['1','2','3','4','5','6','7','8','9','10'],
        series: [
          {
            name: 'BTC',
            data: [0,10,40,50,100,3000,2000,1043,2930,4000]
          }
        ],
      };

      const options = {
        chart: { title: 'LiveUpdate', width: 900, height: 400 },
        xAxis: { pointOnColumn: false, title: { text: 'X Title' } },
        yAxis: { title: 'Y Title' },
        series: { shift: true },
      };

      const chart = toastui.Chart.areaChart({ el, data, options });
      let index = 10;


        const websocket = new WebSocket('wss://pubwss.bithumb.com/pub/ws');

        websocket.onopen = () => {
            console.log('WebSocket connected');
            websocket.send(JSON.stringify({
                type: 'ticker',
                symbols: ['BTC_KRW'],
                tickTypes: ['1H']
            }));
        };

        websocket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.debug(event.data);
            if (data.hasOwnProperty('content') && data.content.tickType === '1H') {
                chart.addData([Number(data.content.closePrice)], ++index);
                console.debug(Number(data.content.closePrice),index);
            }
        };

        websocket.onclose = () => {
            console.log('WebSocket disconnected');
        };

        websocket.onerror = (error) => {
            console.error('WebSocket error:', error);
        };

</script>
</body>
</html>