<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitCoin Dashboard</title>
    <!-- 차트 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/klinecharts/dist/klinecharts.min.js"></script>

</head>
<body>
<h1>Real-time BitCoin Dashboard</h1>
<div id="k-line-chart" style="height:430px"/>
<script>

function getInitialDataList(unit) {
  return new Promise((resolve, reject) => {
    const xhr = new XMLHttpRequest();
    const url = 'https://api.upbit.com/v1/candles/days';

    const to = new Date(+new Date() + 3240 * 10000).toISOString().replace('T', ' ').replace(/\..*/, '');

    const params = `market=KRW-BTC&to=${to}&count=200`;

    xhr.open('GET', `${url}?${params}`, true);

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          const data = JSON.parse(xhr.responseText);

          const mappedData = data.map((item) => {
            const {
              opening_price,
              low_price,
              high_price,
              trade_price,
              timestamp,
              candle_acc_trade_volume,
            } = item;

            return {
              open: opening_price,
              low: low_price,
              high: high_price,
              close: trade_price,
              volume: candle_acc_trade_volume,
              timestamp: Math.floor(timestamp / 24 / 60 / 60 / 1000) * 24 * 60 * 60 * 1000,
              turnover: (opening_price + low_price + high_price + trade_price) / 4 * candle_acc_trade_volume,
            };
          });

          const reversedData = mappedData.reverse();
          resolve(reversedData);
        } else {
          reject(new Error(`Request failed with status: ${xhr.status}`));
        }
      }
    };

    xhr.onerror = function () {
      reject(new Error('Network error'));
    };

    xhr.send();
  });
}

let chart = klinecharts.init('k-line-chart');

let dataList = new Array();


async function init(){
    const dataInitList = await getInitialDataList(1);
    chart.applyNewData(dataInitList);
    webSocketStart(dataInitList);
}

function webSocketStart(dataInitList){
    const websocket = new WebSocket('wss://api.upbit.com/websocket/v1');
    websocket.onopen = () => {
        const wsParam = [
                { ticket: "ndj" },
                { type: "ticker", codes: ["KRW-BTC"], isOnlyRealtime: true },
            ];
        websocket.send(JSON.stringify(
            wsParam
        ));
    };

    websocket.onmessage = async (event) => {
        const text = await new Response(event.data).text();
        const data = JSON.parse(text);
        const { opening_price,low_price,high_price,trade_price,timestamp,trade_volume} = data;
        const dataObject = {
                "open" : opening_price,
                "low" : low_price,
                "high" : high_price,
                "close" : trade_price,
                "volume" : trade_volume,
                "timestamp" : Math.floor(timestamp / 24 / 60 / 60 / 1000) * 24 * 60 * 60 * 1000,
                "turnover" : ((opening_price + low_price + high_price + trade_price) / 4) * trade_volume,
        };

        //dataInitList.push(dataObject);
        //chart.applyNewData(dataInitList);
        chart.updateData(dataObject);
    };

    websocket.onclose = () => {
        console.log('WebSocket disconnected');
    };

    websocket.onerror = (error) => {
        console.error('WebSocket error:', error);
    };
}


window.onload = function() {
	init();
}
</script>
</body>
</html>